body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(197, 197, 197);
}

#grid-container {
    display: grid;
    height: 600px;
    width: 600px;
    outline: 1px solid black;
}


